[user]
	name = Andrew Mellen
	email = andrew_mellen@icloud.com
[init]
	defaultBranch = main

[core]
	pager = delta

[interactive]
	diffFilter = delta --color-only

[delta]
	navigate = true
	light = false
	line-numbers = true
	side-by-side = true
	syntax-theme = Monokai Extended

[merge]
	conflictstyle = diff3

[diff]
	colorMoved = default

[include]
	path = ~/.gitconfig.local
