[user]
	name = Andrew Mellen
	email = andrew_mellen@icloud.com
[init]
	defaultBranch = main

[core]
	pager = hunk pager

[merge]
	conflictstyle = diff3

[diff]
	colorMoved = default

[include]
	path = ~/.gitconfig.local
