[Unit]
Description=Lightweight and customizable notification daemon
PartOf=graphical-session.target
After=graphical-session.target
ConditionEnvironment=WAYLAND_DISPLAY

[Service]
ExecStart=/usr/bin/dunst
Slice=session.slice
Restart=on-failure

[Install]
WantedBy=graphical-session.target
