[Unit]
Description=KDE Wallet Daemon
After=graphical-session.target
PartOf=graphical-session.target
ConditionEnvironment=WAYLAND_DISPLAY

[Service]
Type=simple
ExecStart=/usr/bin/kwalletd6
Slice=session.slice

[Install]
WantedBy=graphical-session.target
