[Unit]
Description=Nextcloud desktop client
PartOf=graphical-session.target
After=graphical-session.target
ConditionEnvironment=WAYLAND_DISPLAY

[Service]
ExecStart=/usr/bin/nextcloud
Slice=session.slice
Restart=on-failure

[Install]
WantedBy=graphical-session.target
