# Each system needs to define its own monitor config
monitors.conf
workspaces.conf

# System specific autostart apps
autostart.conf

# Each system should define its own wallpaper setup
hyprpaper.conf
wallpapers/

# machine specific hyprlock configs
hyprlock-extra.conf
